<div class="menu">                

    <ul class="navigation"> 
        <li>
            <a href="{% url 'homepage' %}">
                <span class="isw-user"></span><span class="text">Главная</span>
            </a>
        </li> 
        <li>
            <a href="{% url 'history_buy' %}">
                <span class="isw-time"></span><span class="text">История оплаты</span>
            </a>
        </li>  
        <li>
            <a href="#">
                <span class="isw-chat"></span><span class="text">Мои заявки</span>
            </a>
        </li>     
        <li>
            <a href="login.html">
                <span class="isw-power"></span><span class="text">Выйти</span>
            </a>
        </li>                  
    </ul>

</div>