{% extends "base/base.html" %}
{% load static %}

{% block site_title %}
    {{ request.user.username }}
{% endblock %}

{% block content %}

    <div class="wrapper"> 

        <div class="header">
        </div>

        {% include "base/navigation_user.html" %}

        <div class="content">

            <div class="workplace">

                <div class="page-header">
                    <h1>Добро пожаловать <small>111000</small></h1>
                </div>                  
                
                <div class="row">

                    <div class="col-md-12">
                        <div class="head clearfix">
                            <h1>История оплаты по месячно за <b>{{ now_year }}</b> год:</h1>
                        </div>
                        <div class="block">
                            <table cellpadding="0" cellspacing="0" width="100%" class="table listUsers">
                                <tbody>
                                    {% for paid in paid_to_month %}
                                        {% if paid.month.month == now_month and not paid.is_full_pay %}
                                            <tr>                                    
                                                <td width="60">
                                                    <h5>{{ forloop.counter }}</h5>
                                                </td>
                                                <td style="width: 1px;">
                                                    <a href="#" class="user"><span style="text-transform:uppercase">{{ paid.month.get_month_name }}</span></a>
                                                    <p class="about" style="color: orange;">
                                                        <span class="glyphicon glyphicon-hourglass"></span> Ожидание оплаты {{ paid.how_much_pay }} сомов<br>
                                                    </p>
                                                    <p class="about" style="color: green;">
                                                        <span class="glyphicon glyphicon-check"></span> Оплачено {{ paid.pay }} сомов <br>
                                                    </p>
                                                </td>
                                                <td width="70">
                                                    <form id="postCheckPaySend{{ forloop.counter }}" data-loader-id="loader{{ forloop.counter }}">
                                                        <label for="check_pay">Выбрать чек</label>
                                                        <input type="file" name="chech_pay" accept="application/pdf">
                                                        <input type="text" style="display: none;" name="paid_id" value="{{ paid.id }}">
                                                        <button type="submit">Отправить</button>
                                                    </form>

                                                    <span id="loader{{ forloop.counter }}" style="display: none;">
                                                        <img src="{% static 'img/loaders/loader.gif' %}" title="loader.gif">
                                                    </span>

                                                    <script>
                                                        function getCSRFToken() {
                                                            return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                                                        }

                                                        document.querySelectorAll('form[id^="postCheckPaySend"]').forEach(form => {
                                                            form.addEventListener('submit', async function (event) {
                                                                event.preventDefault();

                                                                const formData = new FormData(form);
                                                                const loaderId = form.getAttribute('data-loader-id');
                                                                const loader = document.getElementById(loaderId);

                                                                loader.style.display = 'inline-block';
                                                                form.style.display = 'none';

                                                                try {
                                                                    const response = await fetch('{% url "simple-upload" %}', {
                                                                        method: 'POST',
                                                                        body: formData,
                                                                        headers: {
                                                                            'X-CSRFToken': getCSRFToken()
                                                                        },
                                                                        credentials: 'include'
                                                                    });

                                                                    // Ждём 2 секунды (если нужно)
                                                                    await new Promise(resolve => setTimeout(resolve, 2000));

                                                                    if (!response.ok) {
                                                                        // Получаем тело ответа с ошибкой
                                                                        const errorData = await response.json();
                                                                        // Бросаем ошибку с сообщением из сервера, если есть
                                                                        throw new Error(errorData.error || 'Ошибка при загрузке файла');
                                                                    }

                                                                    const result = await response.json();
                                                                    notify_s('Успешно', 'Файл успешно загружен');
                                                                    setTimeout(() => {
                                                                        location.reload();
                                                                    }, 1000);

                                                                } catch (error) {
                                                                    console.error('Ошибка:', error);
                                                                    // Показываем сообщение из ошибки
                                                                    notify_e('Ошибка', error.message);
                                                                    form.style.display = 'inline-block';
                                                                    loader.style.display = 'none';
                                                                    
                                                                }
                                                            });
                                                        });
                                                    </script>
                                                </td>
                                            </tr>
                                        
                                        {% elif paid.is_full_pay %}
                                            <tr>                                    
                                                <td width="60">
                                                    <h5>{{ forloop.counter }}</h5>
                                                </td>
                                                <td>
                                                    <a href="#" class="user">
                                                        <span style="text-transform:uppercase">{{ paid.month.get_month_name }}</span>
                                                    </a>
                                                    <p class="about" style="color: green;">
                                                        <span class="glyphicon glyphicon-check"></span> Оплачено {{ paid.pay }} сомов <br>
                                                    </p>
                                                </td>
                                                <td width="70">
                                                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#dModal{{ forloop.counter }}">
                                                        Посмотреть чек оплаты
                                                    </button>
                                                </td>
                                            </tr>   
                                        {% else %}
                                            <tr>                                    
                                                <td width="60">
                                                    <h5>{{ forloop.counter }}</h5>
                                                </td>
                                                <td style="width: 1px;">
                                                    <a href="#" class="user"><span style="text-transform:uppercase">{{ paid.month.get_month_name }}</span></a>
                                                    <p class="about" style="color: orange;">
                                                        <span class="glyphicon glyphicon-hourglass"></span> Ожидание оплаты <br>
                                                    </p>
                                                </td>
                                                <td width="70">
                                                    <!-- <span><img src="{% static "img/loaders/loader.gif" %}" title="loader.gif"></span> -->
                                                     -
                                                </td>
                                            </tr> 
                                        {% endif %}
                                    {% endfor %}                                                      
                                </tbody>
                            </table>

                            {% for paid in paid_to_month %}
                                {% if paid.is_full_pay %}
                                    <div class="modal fade" id="dModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ forloop.counter }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                                    </button>                        
                                                    <h4 id="myModalLabel{{ forloop.counter }}">Чек оплаты</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <iframe src="{{ paid.check_pay.url }}" width="100%" height="400px"></iframe>
                                                </div>                    
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>            

                </div>                            

            </div>

        </div>   
    </div>

    <div class="modal fade" id="dModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>                        
                    <h4>Оплата за тех обслуживание двора</h4>
                </div>
                <div class="modal-body">
                    <h5>
                        QR - code для сканирование и оплаты
                    </h5>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg" class="img-thumbnail" style="width: 100%;">
                </div>                    
            </div>
        </div>
    </div>

{% endblock %}
    
