{% extends "base/base.html" %}

{% block site_title %}
    {{ request.user.username }}
{% endblock %}

{% block content %}

    <div class="wrapper"> 

        <div class="header">
        </div>

        <div class="menu">                

            <ul class="navigation"> 
                <li>
                    <a href="user.html">
                        <span class="isw-user"></span><span class="text">Главная</span>
                    </a>
                </li> 
                <li>
                    <a href="history.html">
                        <span class="isw-time"></span><span class="text">История оплаты</span>
                    </a>
                </li>  
                <li>
                    <a href="#">
                        <span class="isw-chat"></span><span class="text">Мои заявки</span>
                    </a>
                </li>     
                <li>
                    <a href="login.html">
                        <span class="isw-power"></span><span class="text">Выйти</span>
                    </a>
                </li>                  
            </ul>

        </div>

        <div class="content">

            <div class="workplace">

                <div class="page-header">
                    <h1>Добро пожаловать <small>{{ request.user.username }}</small></h1>
                </div>                  
                
                <div class="row">

                    <div class="col-md-6">                    
                        <div class="row">
                            <div class="col-md-3">
                                <div class="ucard clearfix">                                    
                                    <div class="right">
                                        <div class="image">
                                            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" class="img-thumbnail"></a>                            
                                        </div>                                                                                    
                                    </div>
                                </div>                                 
                            </div>                                                                                
                            <div class="col-md-9">
                                <div class="block-fluid ucard">

                                        <div class="info">                                                                
                                            <ul class="rows">
                                                <li class="heading">Информация</li>
                                                <li>
                                                    <div class="title">Пользователь:</div>
                                                    <div class="text">{{ request.user.username }}</div>
                                                </li>
                                                <li>
                                                    <div class="title">ФИО:</div>
                                                    <div class="text">{{ request.user.last_name }} {{ request.user.first_name }} {{ request.user.father_name }}</div>
                                                </li>
                                                <li>
                                                    <div class="title">Квартира:</div>
                                                    <div class="text">{{ request.user.apartment.apartment_number }}</div>
                                                </li>
                                                <li>
                                                    <div class="title">Номер телефона:</div>
                                                    <div class="text">+996 ({{ request.user.get_phone_number_for_template.0 }}) {{ request.user.get_phone_number_for_template.1 }}-{{ request.user.get_phone_number_for_template.2 }}</div>
                                                </li>
                                                <li>
                                                    <div class="title">Общая площадь:</div>
                                                    <div class="text">{{ request.user.apartment.get_total_area }} м²</div>
                                                </li>
                                                <li>
                                                    <div class="title">Пароль:</div>
                                                    <div class="text">********</div>
                                                </li>                                     
                                            </ul>                                                      
                                        </div>                        
                                </div>
                            </div>                                
                        </div>
                    </div>            

                    <div class="col-md-6">                    
                        <div class="row">                                                                            
                            <div class="col-md-9">
                                <div class="head clearfix">
                                    <h1>Статус оплаты последнего месяца</h1>
                                </div>

                                <div class="block">                        
                                    <h4>Оплата за месяц "Май": <b><span style="color: red;">Не оплачено</span></b></h4>
                                    <h4><b>Сумма оплаты:</b> 750 сомов</h4>

                                    <a href="#dModal" role="button" class="btn btn-default" data-toggle="modal">Оплатить</a>
                                    <button class="btn btn-primary" type="button"><a href="history.html" style="color: white; text-decoration: none;">Посмотреть историю</a></button>
                                </div>
                            </div>                                
                        </div>
                    </div>            

                </div>                            

            </div>

        </div>   
    </div>

    <div class="modal fade" id="dModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>                        
                    <h4>Оплата за тех обслуживание двора</h4>
                </div>
                <div class="modal-body">
                    <h5>
                        QR - code для сканирование и оплаты, после оплаты во вкладке истории оплаты отправьте чек файл нужного месяца
                    </h5>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg" class="img-thumbnail" style="width: 100%;">
                </div>                    
            </div>
        </div>
    </div>

{% endblock %}
