{% extends "base/base.html" %}

{% block site_title %}
    Войти
{% endblock %}

{% block content %}
  
    <div class="loginBlock" id="login" style="display: block;">
        <h1>Добро пожаловать. Войдите</h1>
        <div class="dr"><span></span></div>
        <div class="loginForm">
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red; margin: 0px; margin-left: 11px;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <form class="form-horizontal" action="{% url 'login_logics' %}" method="POST" id="validation">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="text" id="inputEmail" name="username" placeholder="1110001" class="form-control validate[required]"/>
                    </div>                
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" id="inputPassword" name="password" placeholder="Пароль" class="form-control validate[required]"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group" style="margin-top: 5px;">
                            <label class="checkbox"><input type="checkbox" name="remember_me"> Запомнить меня</label>                                                
                        </div>                    
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-default btn-block">Войти</button>       
                    </div>
                </div>
            </form>
            
        </div>
    </div>

{% endblock %}
