<!DOCTYPE html>
<html lang="en">
<head>        
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!--[if gt IE 8]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->
    
    <title>111000</title>

    <link rel="icon" type="image/ico" href="favicon.ico"/>
    
    <link href="css/stylesheets.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
        <link href="css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->    
    <link rel='stylesheet' type='text/css' href='css/fullcalendar.print.css' media='print' />
    
    <script type='text/javascript' src='js/plugins/jquery/jquery-1.10.2.min.js'></script>
    <script type='text/javascript' src='js/plugins/jquery/jquery-ui-1.10.1.custom.min.js'></script>
    <script type='text/javascript' src='js/plugins/jquery/jquery-migrate-1.2.1.min.js'></script>
    <script type='text/javascript' src='js/plugins/jquery/jquery.mousewheel.min.js'></script>
    
    <script type='text/javascript' src='js/plugins/cookie/jquery.cookies.2.2.0.min.js'></script>
    
    <script type='text/javascript' src='js/plugins/bootstrap.min.js'></script>
    
    <script type='text/javascript' src='js/plugins/charts/jquery.flot.js'></script>    
    <script type='text/javascript' src='js/plugins/charts/jquery.flot.stack.js'></script>    
    <script type='text/javascript' src='js/plugins/charts/jquery.flot.pie.js'></script>
    <script type='text/javascript' src='js/plugins/charts/jquery.flot.resize.js'></script>
    
    <script type='text/javascript' src='js/plugins/sparklines/jquery.sparkline.min.js'></script>
    
    <script type='text/javascript' src='js/plugins/fullcalendar/fullcalendar.min.js'></script>
    
    <script type='text/javascript' src='js/plugins/select2/select2.min.js'></script>
    
    <script type='text/javascript' src='js/plugins/uniform/uniform.js'></script>
    
    <script type='text/javascript' src='js/plugins/maskedinput/jquery.maskedinput-1.3.min.js'></script>
    
    <script type='text/javascript' src='js/plugins/validation/languages/jquery.validationEngine-en.js' charset='utf-8'></script>
    <script type='text/javascript' src='js/plugins/validation/jquery.validationEngine.js' charset='utf-8'></script>
    
    <script type='text/javascript' src='js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js'></script>
    <script type='text/javascript' src='js/plugins/animatedprogressbar/animated_progressbar.js'></script>
    
    <script type='text/javascript' src='js/plugins/qtip/jquery.qtip-1.0.0-rc3.min.js'></script>
    
    <script type='text/javascript' src='js/plugins/cleditor/jquery.cleditor.js'></script>
    
    <script type='text/javascript' src='js/plugins/dataTables/jquery.dataTables.min.js'></script>    
    
    <script type='text/javascript' src='js/plugins/fancybox/jquery.fancybox.pack.js'></script>
    
    <script type='text/javascript' src='js/plugins/pnotify/jquery.pnotify.min.js'></script>
    <script type='text/javascript' src='js/plugins/ibutton/jquery.ibutton.min.js'></script>
    
    <script type='text/javascript' src='js/plugins/scrollup/jquery.scrollUp.min.js'></script>
    
    <script type='text/javascript' src='js/cookies.js'></script>
    <script type='text/javascript' src='js/actions.js'></script>
    <script type='text/javascript' src='js/charts.js'></script>
    <script type='text/javascript' src='js/plugins.js'></script>
    <script type='text/javascript' src='js/settings.js'></script>
    
</head>
<body>
    <div class="wrapper"> 

        <div class="header">
        </div>

        <div class="menu">                

            <ul class="navigation"> 
                <li>
                    <a href="user.html">
                        <span class="isw-user"></span><span class="text">Главная</span>
                    </a>
                </li> 
                <li>
                    <a href="history.html">
                        <span class="isw-time"></span><span class="text">История оплаты</span>
                    </a>
                </li>  
                <li>
                    <a href="#">
                        <span class="isw-chat"></span><span class="text">Мои заявки</span>
                    </a>
                </li>     
                <li>
                    <a href="login.html">
                        <span class="isw-power"></span><span class="text">Выйти</span>
                    </a>
                </li>                  
            </ul>

        </div>

        <div class="content">

            <div class="workplace">

                <div class="page-header">
                    <h1>Добро пожаловать <small>111000</small></h1>
                </div>                  
                
                <div class="row">

                    <div class="col-md-6">                    
                        <div class="row">
                            <div class="col-md-3">
                                <div class="ucard clearfix">                                    
                                    <div class="right">
                                        <div class="image">
                                            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" class="img-thumbnail"></a>                            
                                        </div>                                                                                    
                                    </div>
                                </div>                                 
                            </div>                                                                                
                            <div class="col-md-9">
                                <div class="block-fluid ucard">

                                        <div class="info">                                                                
                                            <ul class="rows">
                                                <li class="heading">Информация</li>
                                                <li>
                                                    <div class="title">Пользователь:</div>
                                                    <div class="text">111000</div>
                                                </li>
                                                <li>
                                                    <div class="title">ФИО:</div>
                                                    <div class="text">Асанов Асан Асанович</div>
                                                </li>
                                                <li>
                                                    <div class="title">Квартира:</div>
                                                    <div class="text">215</div>
                                                </li>
                                                <li>
                                                    <div class="title">Номер телефона:</div>
                                                    <div class="text">+996 (506) 322-123</div>
                                                </li>
                                                <li>
                                                    <div class="title">Общая площадь:</div>
                                                    <div class="text">64,5 м²</div>
                                                </li>
                                                <li>
                                                    <div class="title">Пароль:</div>
                                                    <div class="text">********</div>
                                                </li>                                     
                                            </ul>                                                      
                                        </div>                        
                                </div>
                            </div>                                
                        </div>
                    </div>            

                    <div class="col-md-6">                    
                        <div class="row">                                                                            
                            <div class="col-md-9">
                                <div class="head clearfix">
                                    <h1>Статус оплаты последнего месяца</h1>
                                </div>

                                <div class="block">                        
                                    <h4>Оплата за месяц "Май": <b><span style="color: red;">Не оплачено</span></b></h4>
                                    <h4><b>Сумма оплаты:</b> 750 сомов</h4>

                                    <a href="#dModal" role="button" class="btn btn-default" data-toggle="modal">Оплатить</a>
                                    <button class="btn btn-primary" type="button"><a href="history.html" style="color: white; text-decoration: none;">Посмотреть историю</a></button>
                                </div>
                            </div>                                
                        </div>
                    </div>            

                </div>                            

            </div>

        </div>   
    </div>

    <div class="modal fade" id="dModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>                        
                    <h4>Оплата за тех обслуживание двора</h4>
                </div>
                <div class="modal-body">
                    <h5>
                        QR - code для сканирование и оплаты, после оплаты во вкладке истории оплаты отправьте чек файл нужного месяца
                    </h5>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg" class="img-thumbnail" style="width: 100%;">
                </div>                    
            </div>
        </div>
    </div>
</body>
</html>
